@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

@import 'react-toastify/dist/ReactToastify.css';

@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-datePicker-custom';

@import 'loader.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

::selection {
  color: #02b1fc;
  background: #a8d2eaae;
}

.App {
  background-image: url('../images/bg-main.png');
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
